### Codio Activity 3.5: Sorting and Aggregating

**Expected Time**: 60 Minutes

**Total Points**: 10

This activity focuses on sorting the results of a groupby operation. The dataset is again the gapminder data from plotly.  Your tasks involve aggregating and sorting as well as plotting summary results using `matplotlib`, `seaborn`, and `plotly`.

#### Index:

- [Problem 1](#Problem-1:-Lowest-to-Highest-Average-Life-Expectancy)
- [Problem 2](#Problem-2:-Sorting-GDP)
- [Problem 3](#Problem-3:-Sorting-Results-of-Multiple-Aggregates)
- [Problem 4](#Problem-4:-Sorting-Custom-Outputs)
- [Problem 5](#Problem-5:-Applying-the-\`column_range\`-function)

In [1]:
import plotly.express as px
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
gapminder = px.data.gapminder()

In [3]:
gapminder.head(2)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4

In [4]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

[Back to top](#Index:) 

### Problem 1: Lowest to Highest Average Life Expectancy

**2 Points**

Using the gapminder data, group on the continent and find the average life expectancy by continent.  Sort the results from greatest to least using the `.sort_values` method.  Make sure to set the `ascending` argument to `False`.  Assign your results as a DataFrame to `ans1` below.

In [5]:
#from notebook.services.config import ConfigManager; ConfigManager().update('notebook', {"CodeCell": {"cm_config": {"autoCloseBrackets": False}}})
import warnings; warnings.filterwarnings('ignore')
### GRADED

ans1 = gapminder.groupby("continent")[["lifeExp"]].mean().sort_values("lifeExp", ascending=False)

# Answer check
print(ans1)
print(type(ans1))

             lifeExp
continent
Oceania    74.326208
Europe     71.903686
Americas   64.658737
Asia       60.064903
Africa     48.865330
<class 'pandas.core.frame.DataFrame'>

[Back to top](#Index:) 

### Problem 2: Sorting GDP

**2 Points**

Which country has the highest average GDP?  Use groupby to answer this question and assign your answer as a one word string representing the name of the country to `ans2` below.

In [ ]:
### GRADED

ans2 = gapminder.groupby("country").mean().sort_values("gdpPercap", ascending=False).iloc[0].name

# Answer check
print(ans2)
print(type(ans2))

[Back to top](#Index:) 

### Problem 3: Sorting Results of Multiple Aggregates

**2 Points**

For this problem, use the `['mean', 'std', 'median']` functions to determine these values for the Life Expectancy of each continent.  Save this DataFrame to `ans3a` below  To sort the resulting values by medians from greatest to least, first flatten and rename the columns using the code:

```python
ans3a.columns = [" ".join(c) for c in ans3a.columns.to_flat_index()]
```


Sort the results based on the median and assign your results as a DataFrame to `ans3b` below.

In [7]:
### GRADED

ans3a = gapminder.groupby("continent")[["lifeExp"]].agg(['mean', 'std', 'median'])
ans3a.columns = [" ".join(c) for c in ans3a.columns.to_flat_index()]
display(ans3a)
ans3b = ans3a.sort_values("lifeExp median", ascending=False)
display(ans3b)

# Answer check
print(ans3a)
print(ans3b)

           lifeExp mean  lifeExp std  lifeExp median
continent
Africa        48.865330     9.150210         47.7920
Americas      64.658737     9.345088         67.0480
Asia          60.064903    11.864532         61.7915
Europe        71.903686     5.433178         72.2410
Oceania       74.326208     3.795611         73.6650

           lifeExp mean  lifeExp std  lifeExp median
continent
Oceania       74.326208     3.795611         73.6650
Europe        71.903686     5.433178         72.2410
Americas      64.658737     9.345088         67.0480
Asia          60.064903    11.864532         61.7915
Africa        48.865330     9.150210         47.7920

           lifeExp mean  lifeExp std  lifeExp median
continent
Africa        48.865330     9.150210         47.7920
Americas      64.658737     9.345088         67.0480
Asia          60.064903    11.864532         61.7915
Europe        71.903686     5.433178         72.2410
Oceania       74.326208     3.795611         73.6650
           lifeExp mean  lifeExp std  lifeExp median
continent
Oceania       74.326208     3.795611         73.6650
Europe        71.903686     5.433178         72.2410
Americas      64.658737     9.345088         67.0480
Asia          60.064903    11.864532         61.7915
Africa        48.865330     9.150210         47.7920

[Back to top](#Index:) 

### Problem 4: Sorting Custom Outputs

**2 Points**

Complete the function `column_range` that takes in a column, and returns the range (max - min) of a column in a DataFrame.

In [16]:
### GRADED

def column_range(s):
    '''
    This function takes in a pandas series and returns
    the range of the series (max - min) as a float.
    '''
    return s.max() - s.min()

# Answer check
ans4 = column_range(gapminder['lifeExp'])
display(type(ans4))

numpy.float64

[Back to top](#Index:) 

### Problem 5: Applying the `column_range` function

**2 Points**

Use the `column_range` function to first groupby continent and then apply the function to the GDP feature.  Sort the results from greatest to least.  Assign your results as a DataFrame to `ans5` below.

In [24]:
### GRADED

ans5 = gapminder.groupby("continent")[["gdpPercap"]].apply(column_range).sort_values("gdpPercap", ascending=False)
xx = gapminder.groupby('continent')[['gdpPercap']].apply(column_range).sort_values(by = 'gdpPercap', ascending = False)

pd.testing.assert_frame_equal(ans5, xx)